*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mainContent{
    margin-left: 160px;
    flex-grow: 1; /* Allows it to grow and take up the remaining space */
}